@charset "utf-8";

/* 기본 세팅 */
*{box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:'Noto Sans KR', sans-serif;
    font-size:1vw;}

html,body{
    background: #fff;
    color:#000000;
    padding: 0;
    margin: 0;
}
a {text-decoration: none; color:black;}
a:hover {color:#9ebff3}


img{vertical-align: bottom;}

ul {list-style: none;}

.full-container {width:100%;}
.container{width:80%; margin: auto;}

/* 헤더 */
.header {position: relative; width:100%; height: 80px;
    float:left; 
    background-color: #ffffff;
    z-index: 100;
    display: flex; justify-content: center; align-items: center;
    border-bottom: 1px solid #20488a;}
.header>.container {height: 100%;}
/* 로고 */
.logo {width:20%; height:100%;
    display: flex; justify-content: center; align-items: center;
    float:left;}
.logo a {width:100%; height: 100%;
        display:flex;justify-content: center;align-items: center;}
.logo>a>img {width:80%; height: auto; 
    padding:2%; }

/* 네비 */
.gnb {height:100%; width:79.8%;
    float:left;
    display: flex; justify-content: center; align-items: center;
    }
.gnb-list {width:100%;height: auto;float:left;margin-left:60%;}
.gnb-list>li {float:left; margin:0 3%;}
.gnb-list>li>a {transition: 0.3s;}
.drop-down {height:auto; position: absolute; 
    background-color: rgba(90, 128, 172, 0.486);
    opacity: 0; visibility: hidden; z-index: 100;
    transition: 0.3s;}
.drop-down>li {padding:10px 20px;transition: 0.3s;} 
.gnb-list>li:hover .drop-down {opacity: 1;visibility: visible;}
.drop-down>li>a {color:#000000;transition:0.3s;}
.drop-down>li>a:hover {color:#ffffff;}
.contents{width:100%;position: relative;}

/* 메인 */
.main {position: relative;float:left;clear:both;
   width:auto;margin-bottom:100px;}
.main-img{width:100%;}
.main-img>img { width:100%;}
.main-text {position: absolute;top:80%;left:10%;}
.main-text h2 {color:#ffffff; font-size:2vw;}

/* 김디어 소개 */
.kimdear {position: relative;float:left;clear:both;
    width:100%;height:100%;margin-bottom:100px;}
.kimdear h2 {float:left;clear:both; 
    border-bottom: 1px solid black; margin:2% 0;width:20%;}
.kimdear-img {float:left;clear:both;width:50%;height:100%;}
.kimdear-img>img {width:80%;height:100%;}
.kimdear-text {float:left;padding:0 2%;width:50%; height:100%;}
.kimdear-text p {border-left:1px solid #000000; padding-left:10%;
    margin:30% 0;}

/* 작업물 */
.work {position: relative;float:left;clear:both;width:100%;margin-bottom:100px; }
.work h2 {float:left; 
    border-bottom: 1px solid black; margin:2% 0; width:20%;}
.work-all {float:left;clear:both;width:100%;height:150px;
    display: flex;justify-content: center;align-items: center;}
.work-all a {float:left;clear:both;width:100%;height: 150px;}
.work-illustration {float:left;width:100%;margin-right:1.8%;text-align: center;height: 100%;
    background-color:#9ebff3;display: flex;justify-content: center;align-items: center;
    transition: 0.2s;}
.work-design {float:left;width:100%;margin-left:1.8%;text-align:center;height:100%;
    background-color: #9ebff3;display: flex;justify-content: center;align-items: center;
    transition: 0.2s;}
.work-illustration:hover {background-color:#20488a;}
.work-design:hover {background-color:#20488a;}
.work-illustration:hover .illust-text>p {color:#ffffff;}
.work-design:hover .design-text>p {color:#ffffff;}
/* 에스엔에스 */
.sns {position: relative;float:left;clear:both;width:100%;height:100%;margin-bottom:100px; }
.sns h2 {float:left; 
    border-bottom: 1px solid black; margin:2% 0;
    width:20%;}
.sns-icon {width:50%; float:left; clear:both;height:100%;
    display: flex; justify-content: center; align-items: center; 
    align-content: center;margin:0% auto;}
.twitter-hover {width:25%;float:left;padding:4%;}
.twitter-hover:hover .twitter>a>img{transform:scale(1.2);}
.insta-hover{width:25%;float:left;padding:4%;}
.insta-hover:hover .insta>a>img {transform: scale(1.2);}
.twitter img {width:100%;transition:0.2s;}
.insta img{width:100%;transition:0.2s;}
.sns-text {float:left;padding:0 2%;width:50%; height:100%;}
.sns-text p {border-left:1px solid #000000;padding:10%;}


/* 컨텍 */
.contact {position: relative;float:left;clear:both;width:100%;margin-bottom:40px; }
.contact h2 {float:left; 
    border-bottom: 1px solid black; margin:2% 0;width:20%;}
.send-mail { float:left; clear:both; margin:2% 0;}
.send-mail>a:hover{color:#9ebff3;transition: 0.2s;}

/* 푸터 */
.footer {position: relative;float:left; clear:both;width:100%;margin-top:20px;margin-bottom: 40px;
    text-align: center;}

/* 모바일 */
.m-nav-wrap{
    width:50px;
    height:50px;
    position:absolute;
    top:15%;
    left:0%;
    display:none;}
.m-open{
    width:100%;
    height:100%;
    font-size:3vw;
    display: flex;
    justify-content: center;
    background-color: #20488a;
    color:white;
    border:none;
    cursor:pointer;}
.m-nav-box {
    width:70%;
    height: 100%;
    background-color: #20488a;
    position: fixed;
    left:-100%;
    top:0;
    z-index:999999;
}
.m-close {
    width:30px;
    height: 30px;
    background: transparent;
    position: absolute;
    right:10px;
    top:10px;
    border:none;
    font-size:3vw;
    color:#ffffff;
    cursor: pointer;
}
.m-nav {margin-top:50px;}
.m-nav>li>a {display: block; padding:2% 10%;
    color:#ffffff; font-size: 3vw;
    border-bottom:0.5px solid #ffffff;}
.m-nav li a span {font-size:3vw;}
.m-nav>li:last-child a{border-bottom:none;}

.m-drop-down {
    display: none;
}
.m-drop-down>li>a {display: block;
    color:#9ebff3;
    padding:2% 10%;
    font-size: 2.7vw;}
.m-drop-down>li>a:hover {background-color:rgba(255, 255, 255, 0.925); color:#20488a;}


/* 미디어 쿼리 */
@media screen and (max-width:1230px){
    * {font-size:1vw;}
}

@media screen and (max-width:1044px){
    * {font-size: 1.3vw;}
    .container {width:80%;}
    .logo {width:100%;height:100%;}
    .logo a {width:100%; height: 100%;
        display:flex;justify-content: center;align-items: center;}
    .logo a img {width:20%;height: auto;}
    .gnb{display: none;}
    .m-nav-wrap {display: block;}

    .kimdear-text p {margin:25% 0;}
    .sns-icon {margin:2% 0;}
}

@media screen and (max-width:720px){
    * {font-size: 2vw;}

    .kimdear-text p {margin:0% 0;}
    .sns-icon {margin:8% 0;}
}
@media screen and (max-width:450px){
    *{font-size:3vw;}
}