@charset "utf-8";

/* 기본 세팅 */
*{box-sizing: border-box;
    padding:0;
    margin:0;
    font-family:'Noto Sans KR', sans-serif;
    font-size:1vw;}

html,body{
    background: #fff;
    color:#000000;
    padding: 0;
    margin: 0;
}
a {text-decoration: none; color:black;}
a:hover {color:#9ebff3}


img{vertical-align: bottom;}

ul {list-style: none;}

.full-container {width:100%;}
.container{width:80%; margin: auto;}
.container1{width:80%; margin: auto;}


/* 헤더 */
.header {position: relative; width:100%; height: 80px;
    float:left; 
    background-color: #ffffff;
    z-index: 100;
    display: flex; justify-content: center; align-items: center;
    border-bottom: 1px solid #20488a;}
.header>.container {height: 100%;}
/* 로고 */
.logo {width:20%; height:100%;
    display: flex; justify-content: center; align-items: center;
    float:left;}
.logo>a>img {width:80%; height: auto; 
    padding:2%; }

/* 네비 */
.gnb {height:100%; width:80%;
    float:left;
    display: flex; justify-content: center; align-items: center;
    }
.gnb-list {width:100%;height: auto;float:left;margin-left:60%;}
.gnb-list>li {float:left; margin:0 3%;}
.gnb-list>li>a {transition: 0.3s;}
.drop-down {height:auto; position: absolute; 
    background-color: rgba(90, 128, 172, 0.486);
    opacity: 0; visibility: hidden; z-index: 100;
    transition: 0.3s;}
.drop-down>li {padding:10px 20px;transition: 0.3s;} 
.gnb-list>li:hover .drop-down {opacity: 1;visibility: visible;}
.drop-down>li>a {color:#000000;transition:0.3s;}
.drop-down>li>a:hover {color:#ffffff;}
.contents{width:100%;position: relative;}

/* 푸터 */
.footer {position: relative;float:left; clear:both;width:100%;margin-top:20px;margin-bottom: 40px;
    text-align: center;}

/* 모바일 */
.m-nav-wrap{
    width:50px;
    height:50px;
    position:absolute;
    top:15%;
    left:0%;
    display:none;}
.m-open{
    width:100%;
    height:100%;
    font-size:3vw;
    display: flex;
    justify-content: center;
    background-color: #20488a;
    color:white;
    border:none;
    cursor:pointer;}
.m-nav-box {
    width:70%;
    height: 100%;
    background-color: #20488a;
    position: fixed;
    left:-100%;
    top:0;
    z-index:999999;
}
.m-close {
    width:30px;
    height: 30px;
    background: transparent;
    position: absolute;
    right:10px;
    top:10px;
    border:none;
    font-size:3vw;
    color:#ffffff;
    cursor: pointer;
}
.m-nav {margin-top:50px;}
.m-nav>li>a {display: block; padding:2% 10%;
    color:#ffffff; font-size: 3vw;
    border-bottom:0.5px solid #ffffff;}
.m-nav li a span {font-size:3vw;}
.m-nav>li:last-child a{border-bottom:none;}

.m-drop-down {
    display: none;
}
.m-drop-down>li>a {display: block;
    color:#9ebff3;
    padding:2% 10%;
    font-size: 2.7vw;}
.m-drop-down>li>a:hover {background-color:rgba(255, 255, 255, 0.925); color:#20488a;}


/* 미디어 쿼리 */
@media screen and (max-width:1230px){
    * {font-size:1vw;}
}

@media screen and (max-width:1044px){
    * {font-size: 1.3vw;}
    .container {width:80%;}
    .logo {width:100%;height:100%;}
    .logo a {width:100%; height: 100%;
        display:flex;justify-content: center;align-items: center;}
    .logo a img {width:20%;height: auto;}
    .gnb{display: none;}
    .m-nav-wrap {display: block;}

}

@media screen and (max-width:720px){
    * {font-size: 2vw;}
}
@media screen and (max-width:450px){
    *{font-size:3vw;}
}

    /* ---------------------------------------------------------- */
    /* 일러스트 서브 페이지 */
    .full-container {display:none;}
    .container1{display:none;}

    .container2 {width:80%; margin: auto;}
    .work-illust-sub {float:left; clear:both;margin-top:40px;
        width:100%; }
    .work-illust-sub h2 {float:left;clear:both; 
        border-bottom: 1px solid black; margin:2% 0;width:100%;
        margin-bottom:40px;}
    .liiust-list {float:left;clear:both;width:100%; height:auto;}
    .list-ul {width:100%;}
    .list-li {float:left;width:24.25%;height:auto;margin-right:1%;margin-bottom:1%;}
    .list-li:nth-child(4n) {margin-right:0;}
    .list-li img{width:100%;}

    /* 디자인 서브 페이지 */
    .work-design-sub {float:left; clear:both;margin-top:40px;
        width:100%; }
    .work-design-sub h2 {float:left;clear:both; 
        border-bottom: 1px solid black; margin:2% 0;width:100%;
        margin-bottom:40px;}
    .design-list {float:left;clear:both;width:100%; height:auto;}
    .design-ul {width:100%;}
    .design-li {float:left;width:24.25%;height:auto;margin-right:1%;margin-bottom:1%;}
    .design-li:nth-child(4n) {margin-right:0;}
    .design-li img{width:100%;}
    .design-li p {text-align: center;transition: 0.3s;}


    /* 토끼님 상세 페이지 */
    .contrainer-detail-1 {width:100%;}
    .detail-h2 {float:left; 
        border-bottom: 1px solid black; margin:2% 10%;
        width:20%;
        display: flex;align-items: center;}
    .detail-page1 {float:left;clear:both;width:100%;padding:4%;}
    .detail-page1 img{width:60%;display: block; margin: 0 auto;}
    .detail-page2 {float:left;clear:both;width:100%;padding:2%;}
    .detail-page2 img {width:100%;padding:2% 10%;}
    /* 가루 상세 페이지 */
    .contrainer-detail-2 {width:100%;}
    .contrainer-detail-2 .detail-h2 {float:left; 
        border-bottom: 1px solid black; margin:2% 10%;
        width:20%;
        display: flex;align-items: center;}
    .detail-page1-garu-sample {float:left;clear:both;width:100%;padding:2% 10%;}
    .detail-page1-garu-sample img{width:80%;display: block; margin: 0 auto;padding:2% 10%;}
    .detail-page1-garu {float:left;clear:both;width:100%;padding:2% 10%;}
    .detail-page1-garu img{width:50%;display: block; margin: 0 auto;padding:2% 10%;}
    /* 이리스 상세 페이지 */
    .detail-page1-iris-logo {float:left;clear:both;width:100%;padding:4%;}
    .detail-page1-iris-logo img{width:60%;display: block; margin: 0 auto;}
    .detail-page1-iris-poster {float:left;clear:both;width:100%;
        display:flex; align-items: center;}
    .detail-page1-iris-poster img{float:left;clear:both;width:40%;
        height:auto;margin-left:10%;}
    .detail-page1-iris-poster img:nth-child(2){margin-left:2%;}    
    /* lsy 상세 페이지*/
    .detail-page1-lsy-menu{float:left;clear:both;width:100%;padding:4%;}
    .detail-page1-lsy-menu img{width:50%;display: block; margin: 0 auto;}
    .detail-page1-lsy-poster {float:left;clear:both;width:100%;
        display:flex; align-items: center;}
    .detail-page1-lsy-poster img {width:50%;
        float:left;clear:both;
        display:flex; align-items: center;
        width:30%; height: auto;}
    .detail-page1-lsy-poster img:nth-child(1){margin-left:18%;}
    .detail-page1-lsy-poster img:nth-child(2){margin-left:4%;}
    /* 통큰 상세 페이지 */
    .detail-page1-tong-logo {float:left; clear:both;width:100%; margin:auto;
        display: flex;align-items: center;}
    .detail-page1-tong-logo img{width:30%;margin:10%;}
    .detail-page1-tong-cu {float:left; clear:both;width:100%; margin:auto;
        display: flex;align-items: center;}
    .detail-page1-tong-cu img {width:30%;margin:auto;}